@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

/* Login & Register Page CSS start */
.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89.5vh;
  width: 100%;
  background-color: #1b2430;
}

.registerpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89.5vh;
  width: 100%;
  background-color: #1b2430;
}

.logoutpage {
  min-height: 100vh;
  width: 100%;
  background-color: #1b2430;
}

.form-box-register {
  position: relative;
  width: 450px;
  height: 550px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
}

.form-box-login {
  position: relative;
  width: 450px;
  height: 350px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
}

.textr,
.textl {
  text-align: center;
  color: #bababa;
  margin: 0;
}

.inputbox {
  position: relative;
  margin: 25px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.click input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #17cf97;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #f5f2f2;
}

.material-symbols-outlined {
  position: absolute;
  right: 8px;
  color: #17cf97;
  font-size: 1.7em;
}

.already {
  margin: 5px;
  display: flex;
  justify-content: right;
  color: #a3fbee;
  text-decoration: underline;
}
/* Login & Register Page CSS end */

/* NavBar CSS start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 9px 10px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover {
  color: #17cf97;
}

#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* NavBar CSS end */

/* Problems table CSS start */
.problemtable {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 89.5vh;
  width: 100%;
  background-color: #1b2430;
}
.content-table {
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 0.9em;
  min-width: 1000px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
  justify-content: center;
  align-items: center;
}

.content-table thead tr {
  background-color: #17cf97;
  color: #1b2430;
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 10px 15px;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #e3e1e1;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 3.5px solid #17cf97;
}

.content-table a {
  text-decoration: underline;
  color: #3481e7;
  font-weight: bold;
}

.content-table a:hover {
  color: #17cf97;
}

.Easy {
  color: #3bc240;
  font-weight: bold;
}

.Medium {
  color: #f1a824;
  font-weight: bold;
}

.Hard {
  color: #d23636;
  font-weight: bold;
}
/* Problems table CSS end */

/* Problem Page CSS start */
.Easyhehe {
  max-height: 12000px;
  overflow-y: auto;
  color: #3bc240;
  font-size: 1.5em;
  font-weight: bold;
}

.Mediumhehe {
  max-height: 12000px;
  overflow-y: auto;
  color: #f1a824;
  font-size: 1.5em;
  font-weight: bold;
}

.Hardhehe {
  max-height: 12000px;
  overflow-y: auto;
  color: #d23636;
  font-size: 1.5em;
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  color: #e3e1e1;
  font-size: 0.9em;
  font-family: "Source Code Pro", Menlo, monospace;
}

.problempage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #1b2430;
  min-height: 89.5vh;
  width: 100%;
}

.ques {
  margin: 0;
  padding: 0px 5px 0 15px;
}

.des {
  color: #17cf97;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 0 0 0;
}

.cons,
.stc {
  color: #17cf97;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0 0 0;
}

.yout,
.eout{
  color: #17cf97;
  font-size: 0.9em;
  font-weight: bold;
}

.flexforstc {
  display: flex;
}

.ini,
.outi {
  color: #18beca;
  margin: 0;
}
.out {
  padding: 0 0 0 100px;
}

.page-content {
  min-height: 89.5vh;
  width: 100%;
  display: flex;
}

textarea {
  height: 69vh;
  width: 49vw;
  background-color: #1b2430;
  border-radius: 10px;
  border: 2px solid #9d9b9b;
  color: #e3e1e1;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
  font-family: "Courier New", Courier, monospace;
}

#test,
#submit {
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}

#test {
  background-color: #9d9b9b;
}
#submit {
  background-color: #17cf97;
}

.slang {
  color: #17cf97;
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

.label {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  border-radius: 10px;
  border: 2px solid #9d9b9b;
  background-color: #1b2430;
  color: #fff;
}

.verdiv {
  padding: 10px 0 0 0;
}

.vertext {
  color: #17cf97;
  font-size: 1.1em;
  font-weight: bold;
}

.wa {
  color: #ff0f1e;
  font-size: 1.1em;
  font-weight: bold;
}
.ac {
  color: #07ac07;
  font-size: 1.1em;
  font-weight: bold;
}

.submilink {
  color: #a3fbee;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 209px;
}
/*Problem Page CSS end */

/* Home Page CSS start */
.linkedinlink {
  color: #a3fbee;
  text-decoration: underline;
}

.homepage {
  background-color: #1b2430;
  min-height: 89.5vh;
  width: 100%;
}

.text1 {
  color: #c5c5c5;
  text-align: center;
  margin: 0;
  padding: 0 0 15px 0;
  font-weight: bold;
}

.text2 {
  color: #c5c5c5;
  text-align: center;
  margin: 0;
  padding: 20px 10px 0 10px;
  font-weight: bold;
}

.text3 {
  color: #c5c5c5;
  text-align: center;
  margin: 0;
  padding: 10px 10px 20px 10px;
}

.text4 {
  color: #c5c5c5;
  text-align: center;
  margin: 0;
  padding: 0;
}

@keyframes colorChange {
  0% {
    color: #04ff0d;
  }
  25% {
    color: #00eeff;
  }
  50% {
    color: #ffc965;
  }
  75% {
    color: #ff6df5;
  }
  100% {
    color: #9bff82;
  }
}

.tuoj {
  animation: colorChange 3s infinite;
  font-weight: bold;
}

.dogmeme {
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
  border-radius: 20px 20px 20px 20px;
}

.redirectbut {
  display: block;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  font-weight: 1000;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  background-color: #17cf97;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
}
/* Home Page CSS end */

/* View Code CSS start */
.code-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(
    2px
  ); /* for safari browser (i mean who use it nowadays but google says so) */
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-popup {
  background-color: #1b2430;
  padding: 2px 20px 20px 20px;
  border-radius: 25px;
  max-height: 85vh;
  max-width: 70vw;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
}

.code-popup pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code-popup button {
  margin-top: 10px;
}
/* View Code CSS end */
